<style type="text/css" media="screen">
 #usered{
  margin-left: 1px;
  border: 5px solid #dedede;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 10px;

 } 
</style>

<form id="usered" ng-submit="add()">
  标题:<input type="text" required class="form-control" style="width:350px" ng-model="ball.title">
  对手:<input type="text" required class="form-control" ng-model="ball.match_op">
  时间:<input type="text" id="match_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" required class="form-control">
  地点:<input type="text" required class="form-control" ng-model="ball.match_address">
  球票价格:<input type="text" required class="form-control" ng-model="ball.ticket_cost">
  跟车费用:<input type="text" required class="form-control" ng-model="ball.car_cost"><br />
  状态：<select class="form-control" style="color:red" ng-init="ball.status=0" ng-model='ball.status'>
          <option value='0' checked='checked'>未开放</option>
          <option value='1'>开始报名</option>
          <option value='2'>已结束</option>
      </select>
  <br /><br />
  
  <input type="submit" class="btn btn-info"  value="{{type}}" />
</form>
