<style type="text/css" media="screen">
 #usered{
  margin-left: 1px;
  border: 5px solid #dedede;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 10px;

 } 
</style>
<a href="./main.php#/party/party_logs?id={{log.tid}}">返回</a>
<form id="usered" ng-submit="edit_log()">
  昵称:<input type="text" required class="form-control" ng-model='log.nickname' disabled="disabled">
  人数:<input type="text" required class="form-control" ng-model="log.nums">
  <br />
  
  <input type="submit" class="btn btn-info"  value="确认修改" />
</form>
