
/*------*/
#pformtitle{
	width: 280px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: red;
}
#partyn{
	margin-top: 10px;
	width: 280px;
	text-align: center;

}
#news{
	margin-top: 3px;
	padding-left: 20px;
	border: 1px solid #ecd9d9;
	-moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;  
   width: 100%;
   height: 100%;
   padding-bottom: 100px;
}
#news_nav{
	width:100%;
	height: 25px;
	margin-top: 10px;
	border-bottom: 1px solid #c03e3e;
}
#news_nav a{
	color:#c03e3e;
	font-size: 12px;
}
#news_con{
	text-align: center;
	margin-top: 20px;
	min-height: 300px;
}
#ptitle{
	color:red;
	font-size: 20px;
	font-weight: bold;
}
#con{
	text-align:left;width:660px;margin:0 auto;margin-top:15px;line-height:28px;
	
	border: 1px solid #ecd9d9;
	-moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;  
   padding: 20px;
}
